<div class="container">
    <form action="/post" method="POST">
        <input name="captcha" />
        <img id="captcha" src="/captcha" alt="验证码">
        <button id="submit">提交</button>
    </form>
    <script>
        var submit = document.getElementById('submit')
        var captcha = document.getElementById('captcha')

        submit.addEventListener('click', function () {
            captcha.src = `captcha?t=${Date.now()}`
        })
    </script>
</div>